body {
    padding: 22px;
    background-color: #000000;
    color: #ffffff;
    /* font-family: "Fira Sans"; */
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 34px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    text-size-adjust: none;
}

pre {
    font-family: "Roboto";
}


strong {
    font-weight: bold;
}

a:link {
    color: #DC143C;
    background-color: transparent;
    text-decoration: none;
}

blockquote {
    color: #ecbe7b;
}

a {
    color: #DC143C;
    text-decoration: none;
}


a:hover {
color: #000080;
background-color: transparent;
text-decoration: underline;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 27px;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 3px;
}

h3, h4, h5, h6 {
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 3px;
}

li {
    color: #ffffff;
}

li.nocolor {
    color: #ffffff;
}

.subtitle {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 3px;

}

a.heading {
    color: #ffffff;
}

a.heading:hover {
    text-decoration: none;
}

a.fake {
    color: #ffffff;
    text-decoration: none;
}

a.fake:hover {
}

#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
}

.button {
  background-color: #000000;
  border: 1px solid black;
  border-color: #ffffff;
  color: #ffffff;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
}

.button:hover {
  background-color: #ffffff;
  color: white;
}

.footer {
    font-size: 15px;
    color: #808080;
}

:lang(bn) {
  font-family: 'Noto Serif Bengali', serif;
}

:lang(hi) {
  font-family: 'Noto Serif Devanagari', serif;
}
